
@import url(http://fonts.googleapis.com/css?family=Seymour+One);
@import url(http://fonts.googleapis.com/css?family=Freckle+Face);

header{
  color : red;
  border : 1px dashed green;
}

header h1{
  font-family: 'Freckle Face', cursive;
  font-size: 75px;
  margin-left: 20px;
}

body{
  background:url(/images/Pinwheel-tile.jpg);
  
}

p{
  color:yellow;
  font-family: 'Seymour One', sans-serif;
}

a{
  border: 1px solid blue;
  padding: 3px;
  background-color: red;
  color: yellow;
  border-radius: 10px;
  text-decoration : none;
}

a:hover{
  color: red;
  background-color: yellow;
}
